@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&display=swap");
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--color-eastbay); }
  .header__container {
    --paddings: 15px;
    position: relative;
    align-items: center;
    padding: var(--second-offset) var(--paddings); }
    .header__container::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: calc(100% - (var(--paddings) * 2));
      transform: translateX(-50%);
      height: 1px;
      background-color: var(--color-border);
      z-index: 5000; }
  .header__left {
    grid-column: 2 span; }
  .header__right {
    grid-column: 10 span;
    display: flex;
    justify-content: flex-end; }
    @media (max-width: 576px) {
      .header__right {
        grid-column: 2 span; } }
    @media (max-width: 1024px) {
      .header__right {
        align-items: center; } }
  @media (max-width: 1024px) {
    .header__nav {
      position: fixed;
      left: 0;
      top: 55px;
      z-index: 1000;
      padding: 50px;
      height: 350px;
      width: 100vw;
      background-color: var(--color-eastbay);
      display: none;
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2); }
      .header__nav--active {
        display: block; } }

.burger {
  display: none;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  --burger-width: 24px;
  --burger-height: 18px;
  --burger-line-height: 2px;
  color: var(--color-white); }
  .burger::before, .burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out; }
  .burger::before {
    top: 0; }
  .burger::after {
    top: calc(100% - var(--burger-line-height)); }
  .burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out; }
  .burger--active::before {
    top: 50%;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out; }
  .burger--active::after {
    top: 50%;
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out; }
  .burger--active .burger__line {
    transform: scale(0);
    transition: transform 0.3s ease-in-out; }
  @media (max-width: 1024px) {
    .burger {
      display: block; } }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.hero {
  position: relative;
  height: 528px;
  background-color: var(--color-eastbay);
  padding: 130px 0; }
  .hero__container {
    position: relative;
    z-index: 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  .hero__bg-text {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 0;
    margin-top: 20px;
    margin-left: 50px;
    font-family: 'Intro', sans-serif;
    color: rgba(255, 255, 255, 0.12);
    font-weight: 700;
    font-size: 200px;
    line-height: 200px;
    transform: translate(-50%, -50%); }
    @media (max-width: 1024px) {
      .hero__bg-text {
        display: none; } }
  .hero__title {
    margin: 0;
    max-width: 50%;
    margin-bottom: var(--second-offset);
    font: 700 36px/140% var(--font-family);
    color: var(--color-white); }
    @media (max-width: 768px) {
      .hero__title {
        margin-top: 0;
        max-width: none;
        font-size: 30px; } }
  .hero__descr {
    margin: 0;
    margin-bottom: var(--main-offset);
    font: var(--middle-font);
    max-width: calc(50% - 100px);
    color: var(--color-white); }
    @media (max-width: 768px) {
      .hero__descr {
        max-width: none; } }
  @media (max-width: 768px) {
    .hero {
      padding: 80px 0 20px 0;
      height: auto; } }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.catalog {
  padding: var(--big-offset) 0; }
  .catalog__left {
    grid-column: 3 span; }
    @media (max-width: 1024px) {
      .catalog__left {
        display: none; } }
  .catalog__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 9 span; }
    @media (max-width: 1024px) {
      .catalog__grid {
        grid-column: 12 span; } }
  .catalog__reset {
    transition: color .3s ease-in-out; }
    .catalog__reset:focus {
      color: var(--color-eastbay); }
    @media (min-width: 1025px) {
      .catalog__reset:hover {
        color: var(--color-eastbay); } }
  .catalog__subtitle {
    margin: 0;
    font: var(--title-font);
    margin-bottom: var(--second-offset); }
  .catalog__caption {
    display: block;
    margin-bottom: var(--small-offset);
    font: var(--middle-font);
    color: var(--color-main); }
  .catalog__prop {
    margin-bottom: var(--second-offset); }
  .catalog__prop-checkboxes {
    display: flex;
    justify-content: space-between; }
  .catalog__apply {
    margin-bottom: var(--second-offset);
    width: 100%; }
  .catalog__more {
    margin-top: var(--big-offset); }

.catalog-list {
  grid-template-columns: repeat(9, 1fr); }
  .catalog-list__item {
    grid-column: 3 span; }
  @media (max-width: 576px) {
    .catalog-list {
      grid-template-columns: repeat(4, 1fr); }
      .catalog-list__item {
        grid-column: 4 span; } }

.catalog-filters {
  border-radius: 4px;
  background-color: var(--color-bg);
  border-radius: 4px;
  padding: var(--second-offset); }
  .catalog-filters__btns {
    display: flex;
    flex-direction: column;
    align-items: center; }

.catalog-price__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap; }
  .catalog-price__wrapper::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 8px;
    transform: translateX(-50%);
    width: 1px;
    height: 34px;
    bottom: 8px;
    background-color: var(--color-gray); }

.catalog-price__input {
  border: 1px solid var(--color-gray);
  width: 50%;
  height: 50px;
  text-align: center;
  font: var(--middle-font);
  color: var(--color-main);
  background-color: transparent; }
  .catalog-price__input:first-child {
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  .catalog-price__input:last-child {
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }

.catalog-price .noUi-horizontal {
  height: 2px; }

.catalog-price .noUi-target {
  border: none;
  box-shadow: none;
  background-color: var(--color-main); }

.catalog-price .noUi-connect {
  background: var(--color-main); }

.catalog-price .noUi-horizontal .noUi-handle {
  top: -8px;
  width: 5px;
  height: 18px; }

.catalog-price .noUi-handle {
  right: 0;
  border: none;
  border-radius: 100px;
  box-shadow: none;
  background: var(--color-main);
  cursor: pointer; }

.catalog-price .noUi-handle::after,
.catalog-price .noUi-handle::before {
  display: none; }

.catalog-price .noUi-handle-lower {
  right: -3px; }

.about {
  position: relative;
  overflow: hidden;
  background-color: var(--color-eastbay);
  height: 580px; }
  .about__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
  .about__figure {
    position: absolute;
    left: 0;
    top: 0; }
  .about__title {
    margin-bottom: var(--second-offset);
    color: var(--color-white);
    font-size: 40px; }
    @media (max-width: 576px) {
      .about__title {
        font-size: 35px; } }
  .about__descr {
    font: var(--nav-font);
    color: var(--color-white);
    font-size: 18px; }
  .about__quote {
    font: inherit;
    display: inline-block;
    margin-bottom: var(--second-offset); }
    .about__quote::before, .about__quote::after {
      display: none; }
  .about__author {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    font: var(--price-font);
    font-style: normal;
    transform: translateX(80px);
    font-size: 25px; }
    @media (max-width: 768px) {
      .about__author {
        transform: translateX(20px); } }
    @media (max-width: 576px) {
      .about__author {
        transform: translatey(40px); } }
    .about__author::before {
      content: "";
      display: inline-block;
      margin-right: var(--second-offset);
      width: 30px;
      height: 3px;
      background-color: var(--color-white); }
  .about__text {
    align-items: center;
    justify-content: center;
    width: 45%; }
    @media (max-width: 768px) {
      .about__text {
        width: 80%; } }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.quiz {
  padding: var(--big-offset) 0; }
  .quiz__content {
    padding: var(--main-offset) 100px;
    background-color: var(--color-bg);
    border-radius: 4px; }
    @media (max-width: 768px) {
      .quiz__content {
        padding: var(--main-offset); } }
  .quiz__title {
    margin-bottom: var(--second-offset); }
  .quiz__descr {
    margin: 0;
    border-bottom: 1px solid currentColor;
    font: var(--middle-font);
    padding-bottom: var(--small-offset);
    color: var(--color-line); }

.quiz-questions {
  padding: var(--second-offset) 0; }

.quiz-question__title {
  font: var(--title-font);
  color: var(--color-main);
  margin: 0;
  margin-bottom: var(--second-offset); }

.quiz-question__answers {
  display: grid;
  grid-auto-rows: 155px;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--second-offset) 70px;
  padding-bottom: var(--main-offset); }
  @media (max-width: 768px) {
    .quiz-question__answers {
      gap: var(--second-offset);
      grid-auto-rows: 90px; } }

.quiz-question__item img {
  margin-bottom: var(--small-offset); }

@media (max-width: 576px) {
  .quiz-question__item:not(:last-child) {
    margin: 0; } }

.quiz-question__count {
  color: var(--color-line);
  font: var(--middle-font); }

.quiz-question__message {
  border: none;
  border-radius: 4px;
  padding: var(--second-offset);
  width: 465px;
  height: 246px;
  color: var(--color-cameo);
  background: var(--color-white);
  resize: none; }
  @media (max-width: 576px) {
    .quiz-question__message {
      width: 100%; } }

.quiz-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-line);
  padding-top: var(--second-offset); }

.last-question {
  display: none;
  padding-top: var(--second-offset); }
  .last-question__form {
    position: relative;
    border-radius: 4px;
    padding: var(--main-offset);
    background: var(--color-cameo);
    max-width: 655px; }
  .last-question__decorate {
    position: absolute;
    top: -5px;
    right: -185px; }
    @media (max-width: 768px) {
      .last-question__decorate {
        display: none; } }
  .last-question__title {
    margin: 0;
    margin-bottom: var(--small-offset);
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    color: var(--color-white); }
    @media (max-width: 576px) {
      .last-question__title {
        font-size: 24px;
        line-height: 30px; } }
  .last-question__descr {
    margin: 0;
    margin-bottom: var(--second-offset);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: var(--color-white); }
  .last-question__input {
    max-width: 500px;
    margin-bottom: var(--small-offset); }
    .last-question__input:nth-of-type(2) {
      margin-bottom: var(--second-offset); }
    @media (max-width: 576px) {
      .last-question__input {
        max-width: none; } }
  .last-question__btn {
    min-width: 220px; }
    @media (max-width: 576px) {
      .last-question__btn {
        width: 100%;
        min-width: auto; } }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.team {
  position: relative;
  padding: var(--big-offset);
  background-color: var(--color-eastbay); }
  @media (max-width: 768px) {
    .team {
      padding: var(--second-offset); } }
  .team__title {
    color: var(--color-white);
    margin-bottom: var(--main-offset); }
  .team__list {
    position: relative;
    gap: var(--main-offset) var(--second-offset); }
  .team__figure {
    position: absolute;
    right: 0;
    top: 0; }
    @media (max-width: 768px) {
      .team__figure {
        display: none; } }
  .team__item {
    grid-column: 4 span;
    z-index: 5; }
    @media (max-width: 576px) {
      .team__item {
        grid-column: 5 span; } }
  .team__img {
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: var(--second-offset); }
    @media (max-width: 768px) {
      .team__img {
        width: 100%; } }
  .team__subtitle {
    display: block;
    color: var(--color-white);
    font: var(--team-font);
    margin-bottom: var(--small-offset); }
    @media (max-width: 768px) {
      .team__subtitle {
        font-size: 18px; } }
  .team__post {
    font: var(--middle-font);
    color: var(--color-white); }
    @media (max-width: 768px) {
      .team__post {
        font-size: 14px;
        margin-bottom: var(--second-offset); } }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.faq {
  padding: var(--big-offset); }
  .faq__title {
    margin-bottom: var(--main-offset); }
  .faq__list {
    margin: 0 auto;
    max-width: 880px; }
  @media (max-width: 576px) {
    .faq {
      padding: 35px 0; } }

.faq-accordion {
  border-top: 1px solid var(--color-faq);
  border-bottom: 1px solid var(--color-faq); }
  .faq-accordion__control {
    padding: 30px 0;
    width: 100%;
    text-align: left;
    font: var(--price-font);
    color: var(--color-faq);
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .faq-accordion__content {
    overflow: hidden;
    padding-right: 70px;
    padding-bottom: 0;
    max-height: 0;
    padding-bottom: 0;
    box-sizing: content-box;
    opacity: 0;
    transition: all 0.3s ease-out;
    will-change: max-height;
    font: var(--middle-font);
    color: #24242494; }
  .faq-accordion__icon {
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-out;
    width: 25px;
    height: 25px;
    background-image: url("../img/cross.svg"); }
    @media (max-width: 576px) {
      .faq-accordion__icon {
        width: 20px;
        height: 20px; } }
  .faq-accordion:not(:first-child) {
    margin-top: -1px; }

.open .faq-accordion__icon {
  transform: rotate(45deg); }

.open .faq-accordion__content {
  padding-bottom: 18px;
  opacity: 1; }

.sizes__table {
  text-decoration: none;
  color: var(--color-eastbay); }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.contacts {
  padding: var(--big-offset) 0;
  background-color: #f3f6f6; }
  .contacts__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    @media (max-width: 1024px) {
      .contacts__container {
        flex-wrap: wrap; } }
  .contacts__title {
    display: flex;
    align-items: center;
    margin-bottom: var(--big-offset); }
  .contacts__item {
    font-style: normal;
    margin-bottom: var(--main-offset); }
  .contacts__subtitle {
    margin: 0;
    margin-bottom: var(--main-offset);
    font: var(--small-font);
    text-transform: uppercase;
    color: var(--color-gray); }
  .contacts__phone {
    display: inline-block;
    outline: none;
    margin-bottom: var(--small-offset);
    font: var(--middle-high-font);
    color: var(--color-main);
    transition: color .3s ease-in-out; }
    .contacts__phone:focus {
      color: var(--color-eastbay); }
    @media (min-width: 1025px) {
      .contacts__phone:hover {
        color: var(--color-eastbay); } }
  .contacts__text {
    margin-right: var(--second-offset);
    width: calc(100% - (680px + var(--second-offset))); }
    @media (max-width: 1024px) {
      .contacts__text {
        margin-right: 0;
        width: 100%;
        margin-bottom: var(--second-offset); } }
  .contacts__address {
    display: block; }
  .contacts__map {
    width: 680px;
    height: 500px; }

.contacts__map {
  width: 680px;
  height: 500px; }
  @media (max-width: 768px) {
    .contacts__map {
      width: 100%; } }
  @media (max-width: 576px) {
    .contacts__map {
      height: 350px; } }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.instagram {
  padding: var(--big-offset); }
  .instagram__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .instagram__container {
        justify-content: center; } }
  .instagram__left {
    flex-shrink: 0;
    width: 380px;
    margin-right: var(--small-offset);
    border-radius: 4px;
    background-color: var(--color-eastbay); }
    @media (max-width: 576px) {
      .instagram__left {
        margin-right: 0;
        width: 100%; } }
  .instagram__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - (380px + var(--small-offset))); }
    @media (max-width: 768px) {
      .instagram__right {
        display: none; } }
  .instagram__title {
    margin-bottom: var(--second-offset);
    color: var(--color-white); }
  .instagram__descr {
    margin: 0 auto;
    text-align: center;
    margin-bottom: var(--main-offset);
    max-width: 260px;
    color: var(--color-white);
    font: var(--middle-font); }
  .instagram__input {
    margin-bottom: var(--small-offset); }
  .instagram__btn {
    width: 100%; }
  .instagram__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 160px);
    gap: 15px; }
  .instagram__item a {
    display: block;
    width: 100%;
    height: 100%; }
  .instagram__item img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .instagram__item:nth-child(1) {
    grid-column: 2 span;
    grid-row: 2 span; }
  .instagram__item:nth-child(2) {
    grid-row: 1; }
  @media (max-width: 576px) {
    .instagram {
      padding: 40px 0; } }
  .instagram .callback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--main-offset) var(--second-offset); }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.footer {
  padding-top: var(--small-offset);
  left: 30px;
  bottom: 50px;
  color: white;
  background-color: #494283ea;
  box-shadow: 0px -5px 8px 0px rgba(34, 60, 80, 0.2); }
  @media (max-width: 576px) {
    .footer {
      left: 10px;
      bottom: 30px; } }

.info {
  left: 0;
  bottom: 55px;
  /* Левый нижний угол */
  width: 100%;
  /* Ширина слоя */
  text-align: center;
  justify-content: space-between;
  display: flex;
  margin-bottom: 10px; }
  @media (max-width: 576px) {
    .info {
      margin-bottom: 0; } }

.col {
  width: 30%;
  font-family: 'Oswald', sans-serif; }

#first_col {
  text-transform: uppercase;
  font-size: 22px; }
  @media (max-width: 576px) {
    #first_col {
      font-size: 14px; } }

#second_col {
  margin-top: 12px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px; }

#second_col:hover {
  text-decoration: underline; }

#social_item {
  margin: 0 7px; }

a {
  text-decoration: none;
  color: -webkit-link;
  cursor: pointer;
  color: #fff; }

i {
  font-size: 25px; }

#copyright {
  left: 0;
  bottom: 0;
  /* Левый нижний угол */
  padding: 10px;
  /* Поля вокруг текста */
  width: 100%;
  /* Ширина слоя */
  text-align: center;
  border-top: 1px solid #e5e5e50d;
  color: #a99c9c;
  font-size: 15px;
  font-weight: 200;
  font-family: 'Oswald', sans-serif; }

#copyright span {
  color: #ffffffb0;
  font-weight: 400;
  font-family: 'Oswald', sans-serif; }

@media (max-width: 576px) {
  .footer {
    left: 10px;
    bottom: 30px;
    color: #fff; }
  .info {
    left: 0;
    bottom: 40px;
    /* Левый нижний угол */ }
  .col {
    width: 30%;
    font-family: 'Oswald', sans-serif; }
  #first_col {
    font-size: 14px; }
  #second_col {
    margin-top: 5px;
    margin-right: 10px;
    font-size: 10px; }
  /* Social */
  #social_item {
    margin: 0 4px;
    margin-bottom: 10px; }
  i {
    font-size: 23px; }
  #copyright {
    padding: 7px;
    /* Поля вокруг текста */
    font-size: 12px; } }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

@media (max-width: 1024px) {
  .modal::before {
    display: none; } }

.prod-modal {
  border-radius: 4px;
  padding: var(--main-offset);
  width: 1140px; }
  .prod-modal .modal__close {
    display: none; }
    @media (max-width: 1024px) {
      .prod-modal .modal__close {
        z-index: 500;
        display: block; } }
  .prod-modal__top {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .prod-modal__top {
        flex-direction: column; } }
  .prod-modal__bottom {
    margin-bottom: var(--main-offset); }
  .prod-modal__video {
    width: 100%;
    height: 450px; }
    .prod-modal__video iframe {
      display: block;
      border: none;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  @media (max-width: 1024px) {
    .prod-modal {
      margin: 0;
      width: 100%; } }

.modal-slider {
  margin-right: var(--second-offset);
  width: calc(50% - (var(--second-offset) / 2)); }
  .modal-slider__container {
    overflow: hidden;
    margin-bottom: var(--second-offset);
    width: 100%;
    font-size: 0; }
    .modal-slider__container img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      max-height: 460px; }
  @media (max-width: 768px) {
    .modal-slider {
      width: 100%;
      margin-bottom: 30px;
      margin-right: 0; } }

.modal-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: var(--big-offset);
  width: calc(50% - (var(--second-offset) / 2)); }
  .modal-info__top {
    display: flex;
    align-items: center;
    margin-bottom: var(--main-offset);
    font: var(--middle-font);
    color: var(--color-gray);
    margin-bottom: var(--main-offset); }
  .modal-info__vendor {
    margin-right: var(--main-offset); }
    @media (max-width: 1024px) {
      .modal-info__vendor {
        margin-right: 10px; } }
  .modal-info__quantity span {
    color: var(--color-main); }
  .modal-info__title {
    margin: 0;
    margin-bottom: var(--second-offset);
    font: var(--title-font);
    line-height: 140%;
    color: var(--color-main); }
  .modal-info__rate {
    margin-bottom: var(--second-offset); }
  .modal-info__subtitle {
    display: inline-block;
    margin-bottom: var(--second-offset);
    font: var(--middle-font);
    line-height: 16px;
    color: var(--color-main); }
  .modal-info__price {
    display: flex;
    align-items: center; }
  .modal-info__current-price {
    margin-right: 15px;
    font: var(--middle-high-font);
    line-height: 30px;
    color: var(--color-main); }
  .modal-info__old-price {
    text-decoration: line-through;
    font: var(--middle-font);
    color: var(--color-gray); }
  .modal-info__order {
    margin-top: auto;
    width: 100%; }
    @media (max-width: 768px) {
      .modal-info__order {
        margin-top: 30px; } }
  @media (max-width: 768px) {
    .modal-info {
      margin: 0;
      width: 100%; } }

.modal-sizes {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .modal-sizes__item {
    margin-bottom: var(--small-offset); }
    .modal-sizes__item:not(:last-child) {
      margin-right: var(--small-offset); }
  .modal-sizes__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    padding: 6px 0;
    width: 70px;
    font: var(--small-font);
    color: var(--color-main);
    transition: border .3s ease-in-out; }
    @media (min-width: 1025px) {
      .modal-sizes__btn:hover {
        border: 1px solid #757575;
        box-shadow: 0 0 3px rgba(97, 97, 97, 0.5); } }
    .modal-sizes__btn:active {
      border: 1px solid var(--color-eastbay);
      box-shadow: 0 0 3px rgba(97, 97, 97, 0.5); }

.modal-preview {
  display: grid;
  grid-template-columns: repeat(6, 70px);
  gap: var(--second-offset); }
  .modal-preview__item {
    border-radius: 4px;
    height: 75px;
    transition: opacity .3s;
    cursor: pointer; }
    .modal-preview__item img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    @media (min-width: 1025px) {
      .modal-preview__item:hover {
        opacity: .7; } }
    .modal-preview__item--active {
      opacity: .7;
      pointer-events: none; }

.modal-note {
  margin-top: var(--second-offset); }
  .modal-note__item {
    padding-left: 25px;
    font: var(--small-font);
    color: var(--color-gray);
    background-image: url("../img/checklist.svg");
    background-position: left center;
    background-size: 15px 12px;
    background-repeat: no-repeat; }
    .modal-note__item:not(:last-child) {
      margin-bottom: var(--small-offset); }

.prod-bottom {
  display: flex;
  margin-top: var(--main-offset); }
  .prod-bottom__column {
    width: calc(50% - (var(--second-offset) / 2)); }
    .prod-bottom__column:first-child {
      margin-right: var(--second-offset); }
    @media (max-width: 768px) {
      .prod-bottom__column {
        width: 100%; }
        .prod-bottom__column:first-child {
          margin-right: 0;
          margin-bottom: 30px; } }
  .prod-bottom__title {
    margin: 0;
    margin-bottom: var(--second-offset);
    font: var(--title-font);
    color: var(--color-main); }
  .prod-bottom__descr {
    margin: 0;
    max-width: 430px;
    font: var(--middle-font);
    color: var(--color-main); }
  @media (max-width: 768px) {
    .prod-bottom {
      display: block; } }

.cart-modal {
  border-radius: 4px;
  padding: var(--main-offset);
  width: 580px; }
  .cart-modal .modal__close {
    display: none; }
    @media (max-width: 768px) {
      .cart-modal .modal__close {
        z-index: 500;
        display: block; } }
  .cart-modal__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--main-offset); }
    @media (max-width: 768px) {
      .cart-modal__top {
        display: block; } }
  .cart-modal__title {
    margin: 0;
    font: var(--price-font);
    color: var(--color-main); }
  .cart-modal__order-number {
    font: var(--small-font);
    line-height: 14px;
    color: var(--color-gray); }
  .cart-modal__input {
    color: var(--color-gray);
    background-color: #f6f6f6; }
    .cart-modal__input:not(:last-child) {
      margin-bottom: var(--small-offset); }
  .cart-modal__btn {
    margin-top: 30px; }
  @media (max-width: 768px) {
    .cart-modal {
      width: 100%;
      max-width: 570px; } }

.cart-modal-order {
  margin-bottom: var(--main-offset);
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 30px; }
  .cart-modal-order__top {
    font: var(--middle-font);
    line-height: 16px;
    color: var(--color-gray); }
    @media (max-width: 576px) {
      .cart-modal-order__top {
        font-size: 14px; } }
  .cart-modal-order__main {
    color: var(--color-main);
    font-weight: 700; }
  .cart-modal-order__list {
    display: none; }
    .cart-modal-order__list--visible {
      display: block; }
  .cart-modal-order__quantity {
    margin-bottom: var(--second-offset); }
  .cart-modal-order__summ {
    margin-bottom: var(--second-offset); }
  .cart-modal-order__show {
    display: inline-flex;
    align-items: center;
    margin-bottom: var(--second-offset);
    color: var(--color-main); }
    .cart-modal-order__show svg {
      margin-left: 5px;
      width: 8px;
      height: 8px;
      fill: currentColor;
      -o-object-fit: cover;
      object-fit: cover;
      transition: transform .3s ease-in-out; }
    .cart-modal-order__show--active svg {
      transform: rotate(180deg); }
  .cart-modal-order .mini-cart__item:not(:last-child) {
    margin-bottom: 14px; }

.nav__list {
  display: flex;
  align-self: center; }
  @media (max-width: 1024px) {
    .nav__list {
      flex-direction: column; } }

.nav__item:not(:last-child) {
  margin-right: var(--main-offset); }

@media (max-width: 1024px) {
  .nav__item {
    margin-right: 0;
    margin-bottom: var(--small-offset); } }

.nav__link {
  position: relative;
  font: var(--nav-font);
  outline: none;
  color: var(--color-white);
  transition: opacity .3s ease-in-out;
  cursor: pointer; }
  .nav__link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .3s ease-in-out; }
  .nav__link:focus::before {
    transform: scaleX(1); }
  @media (min-width: 1025px) {
    .nav__link:hover::before {
      transform: scaleX(1); } }
  .nav__link:active {
    opacity: .7; }
  @media (max-width: 1024px) {
    .nav__link {
      font: var(--title-font); } }

.cart {
  position: relative;
  margin-left: var(--main-offset); }
  .cart__btn {
    position: relative;
    width: 20px;
    height: 20px; }
    .cart__btn--inactive {
      pointer-events: none; }
    .cart__btn svg {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      fill: var(--color-white);
      pointer-events: none;
      transition: fill .3s ease-in-out; }
    .cart__btn:focus svg {
      fill: var(--color-accent); }
    @media (min-width: 1025px) {
      .cart__btn:hover svg {
        fill: var(--color-accent); } }
    .cart__btn:active svg {
      fill: var(--color-accent-hover); }
  .cart__count {
    position: absolute;
    background-color: var(--color-accent);
    right: -6px;
    bottom: -6px;
    height: 16px;
    min-width: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font: var(--small-font);
    color: var(--color-white);
    opacity: 0;
    transition: opacity .3s ease-in-out;
    pointer-events: none; }
    .cart__count--visible {
      opacity: 1;
      transition: opacity .3s ease-in-out; }

.mini-cart {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  position: absolute;
  right: 0;
  top: calc(100% + 22px);
  width: 480px;
  box-shadow: 0 -4px 10px rgba(0, 13, 84, 0.1);
  background-color: var(--color-white); }
  .mini-cart__top {
    max-height: 323px; }
    .mini-cart__top .simplebar-track.simplebar-vertical {
      right: 5px;
      width: 4px;
      top: 20px;
      bottom: 20px;
      background: rgba(77, 77, 77, 0.1);
      border-radius: 5px; }
    .mini-cart__top .simplebar-scrollbar::before {
      opacity: 1;
      left: 0;
      right: auto;
      width: 4px;
      background: rgba(77, 77, 77, 0.2);
      border-radius: 5px; }
  .mini-cart__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--second-offset);
    box-shadow: 0px -4px 10px rgba(0, 13, 84, 0.1);
    background-color: var(--color-white); }
    @media (max-width: 576px) {
      .mini-cart__bottom {
        flex-wrap: wrap; } }
  .mini-cart__txt {
    display: block;
    margin-bottom: var(--small-offset); }
  .mini-cart__sum {
    font: var(--price-font);
    color: #4d4d4d; }
  .mini-cart__btn {
    padding-top: 14px;
    padding-bottom: 14px; }
    @media (max-width: 576px) {
      .mini-cart__btn {
        width: 100%; } }
  .mini-cart--visible {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out; }
  @media (max-width: 576px) {
    .mini-cart__itog {
      margin-bottom: 20px; } }
  @media (max-width: 576px) {
    .mini-cart {
      width: calc(100vw - 30px); } }

.logo {
  font: var(--middle-high-font);
  color: var(--color-white);
  line-height: 1; }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.product {
  overflow: hidden;
  border-radius: 4px; }
  .product__btns {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    opacity: 0; }
    @media (max-width: 576px) {
      .product__btns {
        opacity: 1; } }
  .product__image {
    position: relative;
    width: 100%;
    max-height: 293px;
    margin-bottom: var(--small-offset); }
    .product__image img {
      width: 100%;
      height: 293px;
      display: block;
      -o-object-fit: cover;
      object-fit: cover; }
  .product__title {
    margin: 0;
    margin-bottom: var(--small-offset);
    font: var(--middle-font);
    color: var(--color-main); }
  .product__price {
    font: var(--price-font);
    color: var(--color-main); }
  .product__btns--active {
    opacity: 1; }
  .product__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: var(--color-main);
    transition: background-color .3s ease-in-out; }
    .product__btn svg {
      width: 30px;
      height: 30px;
      -o-object-fit: cover;
      object-fit: cover;
      fill: var(--color-white); }
    .product__btn:first-child {
      margin-right: var(--main-offset); }
    .product__btn:focus {
      background-color: var(--color-main-hover); }
    @media (min-width: 1025px) {
      .product__btn:hover {
        background-color: var(--color-main-hover); } }
    .product__btn:active {
      background-color: var(--color-eastbay); }
    .product__btn--disabled {
      opacity: 0.4;
      pointer-events: none; }
  @media (min-width: 1025px) {
    .product:hover .product__btns {
      opacity: 1;
      visibility: visible; } }

.mini-product {
  display: flex;
  align-items: center;
  padding: var(--small-offset) var(--second-offset); }
  .mini-product__image {
    flex-shrink: 0;
    margin-right: var(--small-offset);
    width: 100px;
    height: 100px; }
    .mini-product__image img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    @media (max-width: 576px) {
      .mini-product__image {
        width: 60px;
        height: 60px; } }
  .mini-product__text {
    margin-right: auto;
    max-width: 268px; }
  .mini-product__title {
    margin: 0;
    font: var(--small-font);
    line-height: 20px;
    margin-bottom: var(--small-offset);
    color: var(--color-main); }
  .mini-product__delete {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    font-size: 0; }
    .mini-product__delete svg {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      pointer-events: none; }
  .mini-product__content {
    flex-grow: 1;
    display: flex;
    align-items: center; }
  .mini-product__price {
    font: var(--price-font);
    color: #4d4d4d; }

.cart-modal .mini-product {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0; }
  .cart-modal .mini-product__image {
    flex-shrink: 0;
    margin-right: var(--small-offset);
    width: 80px;
    height: 45px; }
    .cart-modal .mini-product__image img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .cart-modal .mini-product__text {
    margin-right: auto;
    max-width: 290px; }
  .cart-modal .mini-product__title {
    margin: 0;
    font: var(--small-font);
    line-height: 20px;
    margin-bottom: var(--small-offset);
    color: var(--color-main); }
  .cart-modal .mini-product__delete {
    width: auto;
    height: auto;
    font: var(--small-font);
    line-height: 14px;
    color: var(--color-gray); }
    .cart-modal .mini-product__delete svg {
      display: none; }
  .cart-modal .mini-product__content {
    flex-grow: 1;
    display: flex;
    align-items: center; }
  .cart-modal .mini-product__price {
    font: var(--price-font);
    color: #4d4d4d; }
  @media (max-width: 576px) {
    .cart-modal .mini-product {
      display: block; } }

.sizes-table {
  width: 100%;
  border-collapse: collapse; }
  .sizes-table caption {
    position: absolute;
    opacity: 0;
    pointer-events: none; }
  .sizes-table td {
    border: 1px solid var(--color-cameo);
    padding: 17px 5px;
    text-align: center;
    font: var(--middle-font);
    color: var(--color-main); }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

.social {
  display: flex; }
  .social__item:not(:last-child) {
    margin-right: var(--second-offset); }
  .social__link {
    outline: none;
    display: block;
    width: 44px;
    height: 44px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity .3s ease-in-out; }
    .social__link--vk {
      background-image: url("../img/VK.svg"); }
    .social__link--insta {
      background-image: url("../img/Instagram.svg"); }
    .social__link:focus {
      opacity: .7; }
    @media (min-width: 1025px) {
      .social__link:hover {
        opacity: .7; } }
    .social__link:active {
      opacity: .9; }

/*# sourceMappingURL=main.css.map */
